<!-- SEARCH PANEL -->
<div id="searchPanel">

  <!-- FILTERS PANEL -->
  <div id="filtersPanel">

    <label id="filtersTitle" class="Subtitle">Filtrer la recherche</label>

    <!-- FIRST ROW -->
    <div id="selectorsRow">
      <!-- TYPE -->
      <div id="typeContainer" class="selectContainer">
        <label class="Normal">Type de recette :</label>

        <div id="select-type" class="select">
          <label id="select-label" class="select-label">
            <span class="icon-left">
              <i class="fas fa-bars"></i>
            </span>
            <label id="select-label-text" class="select-label-text">{{this.add_type}}</label>
            <span class="icon-right">
              <i class="far fa-caret-square-down"></i>
            </span>
          </label>
          <div id="options" class="options">
            <input [(ngModel)]="add_type" class="option" type="radio" id="option+type+Tous" name="type" value="Tous" selected/>
            <label class="option-label" for="option+type+Tous">Tous</label>
            <input *ngFor="let type of this.types" [(ngModel)]="add_type" class="option" type="radio" id="option+type+{{type}}" name="type"
              value="{{type}}" />
            <label *ngFor="let type of this.types" class="option-label" for="option+type+{{type}}">{{type}}</label>
          </div>
        </div>

      </div>


      <!-- LEVEL -->
      <div id="levelContainer" class="selectContainer">
        <label class="Normal">Niveau de recette :</label>

        <div id="select-level" class="select">
          <label id="select-label" class="select-label">
            <span class="icon-left">
              <i class="fas fa-bars"></i>
            </span>
            <label id="select-label-text" class="select-label-text">{{this.add_level}}</label>
            <span class="icon-right">
              <i class="far fa-caret-square-down"></i>
            </span>
          </label>
          <div id="options" class="options">
            <input [(ngModel)]="add_level" class="option" type="radio" id="option+level+Tous" name="level" value="Tous" selected/>
            <label class="option-label" for="option+level+Tous">Tous</label>
            <input *ngFor="let level of this.levels" [(ngModel)]="add_level" class="option" type="radio" id="option+level+{{level}}"
              name="level" value="{{level}}" />
            <label *ngFor="let level of this.levels" class="option-label" for="option+level+{{level}}">{{level}}</label>
          </div>
        </div>

      </div>

      <!-- DURATION -->
      <div id="durationContainer" class="selectContainer">
        <label class="Normal">Durée recette (en minutes):</label>
        <div id="selectDurations">
          <div id="duration-min" class="input-control">
            <input [(ngModel)]="add_duration_min" class="input" type="number" placeholder="Min">
          </div>
          <label class="Small"> à </label>
          <div id="duration-max" class="input-control">
            <input [(ngModel)]="add_duration_max" class="input" type="number" placeholder="Max">
          </div>
        </div>
      </div>
    </div>

    <!-- SEARCH TAGS PANEL -->
    <div id="searchTagPanel">

      <!-- NAME -->
      <div id="nameColumn" class="searchColumn">
        <div id="filterName" class="input-control">
          <span class="icon-left">
            <i class="fas fa-utensils"></i>
          </span>
          <input [(ngModel)]="add_name" (keyup.enter)="newTag('recip_name')" class="input" type="text" placeholder="Ajouter un mot-clef">
        </div>
        <div id="tagsName" class="tags">
          <span *ngFor="let tag of search.recip_name" class="tag">
            {{tag}}
            <span class="icon-right" (click)="deleteTag('recip_name',tag)">
              <i class="fas fa-minus-circle"></i>
            </span>
          </span>
        </div>
      </div>

      <!-- AUTHOR -->
      <div id="authorColumn" class="searchColumn">
        <div id="filterAuthor" class="input-control">
          <span class="icon-left">
            <i class="fas fa-user-edit"></i>
          </span>
          <input [(ngModel)]="add_author" (keyup.enter)="newTag('recip_author')" class="input" type="text" placeholder="Ajouter un chef">
        </div>
        <div id="tagsAuthor" class="tags">
          <span *ngFor="let tag of search.recip_author" class="tag">
            {{tag}}
            <span class="icon-right" (click)="deleteTag('recip_author',tag)">
              <i class="fas fa-minus-circle"></i>
            </span>
          </span>
        </div>
      </div>

      <!-- INGREDIENT -->
      <div id="ingredientColumn" class="searchColumn">
        <div id="filterIngredient" class="input-control">
          <span class="icon-left">
            <i class="fas fa-lemon"></i>
          </span>
          <input [(ngModel)]="add_ingredient" (keyup.enter)="newTag('recip_ingredientList')" class="input" type="text" placeholder="Ajouter un ingrédient">
        </div>
        <div id="tagsIngredient" class="tags">
          <span *ngFor="let tag of search.recip_ingredientList" class="tag">
            {{tag}}
            <span class="icon-right" (click)="deleteTag('recip_ingredientList',tag)">
              <i class="fas fa-minus-circle"></i>
            </span>
          </span>
        </div>
      </div>

    </div>

    <!-- SEARCH LOADER -->
    <div id="searchLoader">
      <div class="message">
        <label class="message-title"></label>
        <p class="message-content"></p>
      </div>
      <div class="spinner">
      </div>
    </div>

  </div>

  <!-- SEARCH BUTTON -->
  <button id="searchButton" class="button" (click)="searchRecipes()">
    <span class="icon-left">
      <i class="fas fa-search"></i>
    </span>
    <label class="button-text">Lancer la recherche !</label>
  </button>


  <!-- RESULT TABLE -->
  <table id="searchTable" class="table-image">

    <tr class="header">
      <th class="name">Nom du chef d'oeuvre</th>
      <th class="author">Chef cuistot</th>
      <th class="lvl">Difficulté</th>
      <th class="type">Type</th>
      <th class="duration">Durée</th>
    </tr>

    <tbody>
      <tr *ngFor="let recipe of recipes" class="data-row" (click)="viewRecipe(recipe.recip_id)">
        <td class="name">{{recipe.recip_name}}</td>
        <td class="author">{{recipe.recip_author}}</td>
        <td class="lvl">{{recipe.recip_level}}</td>
        <td class="type">{{recipe.recip_type}}</td>
        <td class="duration">{{recipe.recip_duration}}</td>
      </tr>
    </tbody>

  </table>

</div>