<div id="viewRecipePanel">

  <!-- TITRE -->
  <div id="titleRow">

    <!-- NOM DE LA RECETTE -->
    <div class="input-control">
      <input id="nameRecipeInput" [(ngModel)]="this.recipe.recip_name" type="text" name="Nom de la recette">
    </div>
    <!-- AUTEUR -->
    <label id="authorRecipe" class="Normal"> publiée par {{recipe.recip_author}}</label>
  </div>

  <!-- PANNEAU SELECTEURS -->
  <div id="selectorsRow">

    <!-- SELECTION TYPE -->
    <div id="selectorType" class="selectContainer">
      <label>Type :</label>
      <div id="select-recipe-type" class="select">
        <label id="select-label" class="select-label">
          <span class="icon-left">
            <i class="fas fa-bars"></i>
          </span>
          <label id="select-label-text" class="select-label-text">{{this.recipe.recip_type}}</label>
          <span class="icon-right">
            <i class="far fa-caret-square-down"></i>
          </span>
        </label>
        <div id="options" class="options">
          <input *ngFor="let type of this.types" [(ngModel)]="this.recipe.recip_type" class="option" type="radio" id="option+recipe+type+{{type}}"
            name="recipe-type" value="{{type}}" />
          <label *ngFor="let type of this.types" class="option-label" for="option+recipe+type+{{type}}">{{type}}</label>
        </div>
      </div>
    </div>

    <!-- SELECTION LEVEL -->
    <div id="selectorLevel" class="selectContainer">
      <label>Niveau :</label>
      <div id="select-recipe-level" class="select">
        <label id="select-label" class="select-label">
          <span class="icon-left">
            <i class="fas fa-bars"></i>
          </span>
          <label id="select-label-text" class="select-label-text">{{this.recipe.recip_level}}</label>
          <span class="icon-right">
            <i class="far fa-caret-square-down"></i>
          </span>
        </label>
        <div id="options" class="options">
          <input *ngFor="let level of this.levels" [(ngModel)]="this.recipe.recip_level" class="option" type="radio" id="option+recipe+level+{{level}}"
            name="recipe-level" value="{{level}}" />
          <label *ngFor="let level of this.levels" class="option-label" for="option+recipe+level+{{level}}">{{level}}</label>
        </div>
      </div>
    </div>

    <!-- SELECTION DURATION -->
    <div id="selectorDuration" class="selectContainer">
      <label>Durée (en minutes) :</label>
      <div id="durationInput" class="input-control">
        <input [(ngModel)]="this.recipe.recip_duration" id="durationSelector" class="input" type="number" placeholder="durée min">
      </div>
    </div>

  </div>

  <!-- TABLEAU DES INGREDIENTS -->
  <table id="ingredientsTable" class="table-image">
    <!-- ENTETE -->
    <thead>
      <tr class="header">
        <th class="ingredient">Ingrédient</th>
        <th class="quantity">Quantité</th>
        <th class="unity">Unité</th>
        <th class="act" *ngIf="userHasRights">Action</th>
      </tr>
    </thead>
    <!-- LISTE INGREDIENTS INSEREE AVEC NGFOR -->
    <tbody id="ingredientsTableContent">
      <tr *ngFor="let ingredient of ingredientList">
        <td class="ingredient">{{ingredient['ingredient']}}</td>
        <td class="quantity">{{ingredient['quantity']}}</td>
        <td class="unity">{{ingredient['unity']}}</td>
        <td class="act" align="center" justify="center">
          <button class="button-delete" *ngIf="userHasRights" (click)="deleteIngredient(ingredient['ingredient'], ingredient['quantity'], ingredient['unity'])">
            <label class="button-text">
              <i class="fas fa-minus-square"></i>
            </label>
          </button>
        </td>
      </tr>

      <!-- AJOUT INGREDIENTS  -->
      <tr *ngIf="userHasRights" id="ajoutIngredient">
        <td class="ingredient">
          <div id="formIngredient" class="input-control">
            <input id="inputIngredient" class="input" [(ngModel)]="this.newIngredient['ingredient']" type="text" name="ingrédient">
          </div>
        </td>
        <td class="quantity">
          <div id="formQuantity" class="input-control">
            <input id="inputQuantity" class="input" [(ngModel)]="this.newIngredient['quantity']" type="text" name="quantité">
          </div>
        </td>
        <td class="unity">
          <div id="formUnity" class="input-control">
            <input id="inputUnity" class="input" [(ngModel)]="this.newIngredient['unity']" type="text" name="unité">
          </div>
        </td>
        <td class="act" align="center" justify="center">
          <!-- BOUTON AJOUT INGREDIENT -->
          <button id="addIngrButton" class="button-add" (click)="addIngredient()">
            <label class="button-text">
              <i class="fas fa-plus-square"></i>
            </label>
          </button>
        </td>
      </tr>
    </tbody>

  </table>

  <!-- PLAGE DE DESCRIPTION DE LA RECETTE -->
  <div id="explanations">
    <div class="title-explanations">
      <label id="title-recipe">Description de la recette pour</label>
      <div id="recip_N_eatersInput" class="input-control">
        <input [(ngModel)]="this.recipe.recip_N_eaters" id="recip_N_eatersSelector" class="input" placeholder="0">
        <span class="icon-right">
          <i class="fas fa-users"></i>
        </span>
      </div>
    </div>
    <textarea id="explanations-textarea" class="textarea" [(ngModel)]="this.recipe.recip_explanations" rows="20" type="text"
      placeholder="Description de ma nouvelle recette"></textarea>
    <label id="date-last-edit">Dernière modif : {{this.recipe.updated_at | date: 'dd/MM/yyyy, HH:mm'}}</label>
  </div>

  <!-- PLAGE DES BOUTONS -->
  <div *ngIf="userHasRights" id="buttonsBlock">

    <!-- BOUTON MODIFIER -->
    <button id="editButton" class="button" (click)="editRecipe()">
      <label class="button-text">Sauvegarder les changements</label>
      <span class="icon-right">
        <i class="fas fa-edit"></i>
      </span>
    </button>

    <!-- BOUTON SUPPRIMER -->
    <button id="supprButton" class="button" (click)="deleteRecipe()" routerLink="/hostpage">
      <label class="button-text">Supprimer la recette</label>
      <span class="icon-right">
        <i class="fas fa-trash-alt"></i>
      </span>
    </button>
  </div>

  <!-- COMMENTAIRES -->
  <div id="comments">
    <label id='title-comment'>Commentaires :</label>
    <div id="list-comments">
      <div class="comment" *ngFor="let comment of this.recipe.recip_comments">
        <article class="media">
          <div class="media-left">
            <label class="media-left-author">{{comment.nickname}} :</label>
          </div>
          <div class="media-content">
            <div class="media-text">
              {{comment.comment}}
            </div>
          </div>
          <div class="media-right">
            <label class="media-date">{{comment.date | date: 'dd/MM/yyyy, HH:mm'}}</label>
            <button *ngIf="(comment.nickname === newComment.nickname || userHasRights)" class="button-delete" (click)="deleteComment(comment)">
              <label class="button-text">
                <i class="fas fa-backspace"></i>
              </label>
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- NOUVEAU COMMENTAIRE -->
  <div id="newComment">
    <article class="media">
      <div class="media-left">
        <label class="media-left-author">{{newComment.nickname}} :</label>
      </div>
      <div class="media-content">
        <textarea [(ngModel)]="this.newComment.comment" id="myNewComment" class="textarea" rows="4" placeholder="Ecrire un commentaire..."></textarea>
      </div>
      <div class="media-right">
        <button class="sendButton" (click)="addComment()">
          <label class="button-text">Envoyer !</label>
        </button>
      </div>
    </article>
  </div>

  <!-- RECIPE VIEWER LOADER -->
  <div id="recipeViewerLoader">
    <div class="message">
      <label class="message-title"></label>
      <p class="message-content"></p>
    </div>
    <div class="spinner">
    </div>
  </div>
</div>