<div id="feedbackPanel">

  <!-- SPEACH DEVELOPPEUR -->
  <div id="feedbackSpeach">
    <label id="text">
      Je suis ravi d'avoir des visiteurs sur mon site de partage de recettes en famille. C'est un gros projet/passe temps personnel
      qui me tiens à coeur, et j'aimerais le faire aboutir autant que possible. Donc si vous voulez bien laisser un avis
      et des suggestions, n'hésitez pas je suis preneur !
    </label>
  </div>

  <!-- SELECTION CATEGORIE -->
  <div id="selectorCategory" class="selectContainer">
    <label>Catégorie :</label>
    <div id="select-feedback-category" class="select">
      <label id="select-label" class="select-label">
        <span class="icon-left">
          <i class="fas fa-bars"></i>
        </span>
        <label id="select-label-text" class="select-label-text">{{this.currentCategory}}</label>
        <span class="icon-right">
          <i class="far fa-caret-square-down"></i>
        </span>
      </label>
      <div id="options" class="options">
        <input *ngFor="let category of this.categories" [(ngModel)]="this.currentCategory" class="option" type="radio" id="option+feedback+category+{{category}}"
          name="feedback-category" value="{{category}}" />
        <label *ngFor="let category of this.categories" class="option-label" for="option+feedback+category+{{category}}" (click)="this.getFeedbacks(category)">{{category}}</label>
      </div>
    </div>
  </div>

  <!-- LISTE DES FEEDBACKS -->
  <div id="feedbacks">
    <label id='title-feedbacks'>Avis et suggestions</label>
    <div id="list-feedbacks">
      <div class="feedback" *ngFor="let feedback of this.feedbacksList">
        <article class="media">
          <div class="media-left">
            <label class="media-left-author">{{feedback.nickname}} :</label>
          </div>
          <div class="media-content">
            <div class="media-title">
              {{feedback.title}}
            </div>
            <div class="media-text">
              {{feedback.content}}
            </div>
          </div>
          <div class="media-right">
            <label class="media-date">{{feedback.date | date: 'dd/MM/yyyy, HH:mm'}}</label>
            <button *ngIf="(feedback.nickname === userNickname || userHasRights)" class="button-delete" (click)="deleteFeedback(feedback)">
              <label class="button-text">
                <i class="fas fa-backspace"></i>
              </label>
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- REDIGER UN FEEDBACK -->
  <div id="newFeedback">
    <article class="media">
      <div class="media-content">
        <div id="newFeedback-title" class="input-control">
          <input [(ngModel)]="this.newFeedback.title" id="feedbackTitleInput" class="input" type="text" placeholder="Titre du commentaire">
        </div>
        <textarea [(ngModel)]="this.newFeedback.content" id="myNewFeedback" class="textarea" rows="10" placeholder="Ecrire un avis, une suggestion..."></textarea>
      </div>
      <div class="media-right">
        <button class="sendButton" (click)="addFeedback()">
          <label class="button-text">Envoyer !</label>
        </button>
      </div>
    </article>
  </div>

  <!-- FEEDBACK VIEWER LOADER -->
  <div id="feedbackLoader">
    <div class="message">
      <label class="message-title"></label>
      <p class="message-content"></p>
    </div>
    <div class="spinner">
    </div>
  </div>


</div>