@font-face {
    font-family: 'cac_champagneregular';
    src: url('../fonts/cac_champagne_macroman/cac_champagne-webfont.eot');
    src: url('../fonts/cac_champagne_macroman/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cac_champagne_macroman/cac_champagne-webfont.woff') format('woff'),
         url('../fonts/cac_champagne_macroman/cac_champagne-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jrhandregular';
    src: url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.eot');
    src: url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.woff') format('woff'),
         url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'permanent_markerregular';
    src: url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.eot');
    src: url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.woff') format('woff'),
         url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kalam_regular';
    src: url('../fonts/kalam/Kalam-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}