// MY OWN SASS FRAMEWORK

@import "./variables.scss";

/** Button design with icons left and right */
@mixin button($buttonColor) {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: set-text-color($buttonColor);
    background-color: $buttonColor;
    border: 0.07em darken($buttonColor, 15) solid;
    border-radius: 0.3em;
    padding: 0.5em 0.9em 0.5em 0.9em;
    outline: none;
    white-space: nowrap;
    text-align: center;
    .button-text {
        font-size: inherit;
    }
    .icon-left {
        margin: 0 7% 0 0;
        font-size: inherit;
    }
    .icon-right {
        margin: 0 0 0 7%;
        font-size: inherit;
    }

    &:hover {
        background-color: set-hover-color($buttonColor);
    }
    &:active {
        top: 0.1em;
    }
}

/** Input design with icons left and right */
@mixin input($inputColor, $borderColor) {
    box-shadow: inset 0 0.1em 0 0 transparentize(darken($inputColor, 15),0.5);
    /* Chrome */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;

    /* IE */
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-pack: distribute;
    -ms-flex-wrap: nowrap;
    -ms-flex-align: center;

    /* Firefox */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;

    color: set-text-color($inputColor);
    background-color: $inputColor;
    border: 0.07em $borderColor solid;
    border-radius: 0.3em;
    padding: 0.5em 0.9em 0.5em 0.9em;
    outline: none;
    white-space: nowrap;
    text-align: justify;
    .input
    {
        width: 100%;
        font-size: inherit;
        color: inherit;
        background-color: inherit;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        border: none;
        outline: none;
        white-space: nowrap;
        text-align: justify;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box; 
    }
    .icon-left {
        margin: 0 7% 0 0;
        font-size: inherit;
    }
    .icon-right {
        margin: 0 0 0 7%;
        font-size: inherit;
    }
    &:hover {
        background-color: set-hover-color($inputColor);
        box-shadow: none;
        .input {
            background-color: set-hover-color($inputColor);
        }
    }
}

/** Image design to resize image and make it round */
@mixin image($dimension) {
    img {
        width: $dimension;
        height: $dimension;
    }
    .is-rounded {
        border-radius: 50%;
    }
}

/** Dropdown button menu design with icons left and right 
    @uses mixin button
    @uses toggleNav() javascript function */
@mixin dropdown($dropDownColor, $fontSize) {
    position: relative;
    display: inline-flex;
    font-size: $fontSize;
    .dropdown-button {
        font-size: inherit;
        @include button($dropDownColor);
        &:hover {
            background-color: set-hover-color($dropDownColor);
        }
    }
    .dropdown-content {
        display: none;
        position: absolute;
        top: 1em + 2*0.5em + 2*0.07em;
        right: 0;
        left: 0;
        z-index: 1;
        background-color: $dropDownColor;
        font-size: inherit;
        overflow: auto;
        border: 0.07em darken($dropDownColor, 15) solid;
        border-radius: 0 0 0.3em 0.3em;
        box-shadow: 0 0.2em 0.4em 0 rgba(0,0,0,0.2);
        a {
            font-size: inherit;
            color: set-text-color($dropDownColor);
            padding: 0.5em 0.9em 0.5em 0.9em;
            text-decoration: none;
            display: block;
            &:hover {
                background-color: set-hover-color($dropDownColor);
            }
        }
    }
    &:hover .dropdown-button{
            border-radius: 0.3em 0.3em 0 0;
    }
    .show {display: block;}
}

/** Table design with image background */
@mixin table-image($headerColor, $imageurl, $imageSize){
    position: relative;
    border-collapse: collapse;
    text-align: center;

    .data-row {
        height: 2em;
        cursor: pointer;
        &:hover {
            background-color: transparentize($colorGreyLight, 0.5);
        }
    }
    .header {
        cursor: initial;
        height: 3em;
        color: set-text-color($headerColor);
        th { 
            background-color: $headerColor;
            &:first-child {border-radius: 0.3em 0 0 0;}
            &:last-child {border-radius: 0 0.3em 0 0;}
        }
    }

    tbody:after {
        content: "";
        background-image: $imageurl;
        background-size: $imageSize;
        opacity: 0.3; /* set your opacity */
        border-radius: 0.3em;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
        }
}

/** Text area desing paper book like */
@mixin textarea-paper-book($paperColor,$scrollBarColor, $fontSize, $lineHeight) {
    position: relative;
    background-color: $paperColor;
    font-size: $fontSize;
    padding-left: 12%;
    background: url('../../../assets/Ligne_verti_cahier.png'),
                   url('../../../assets/Ligne_horiz_cahier.png'), 
                 url('../../../assets/paper-texture.png');
    background-size: 30px 1000px, 3000px $lineHeight,  200px 200px;
    background-repeat: repeat-y, repeat, repeat;
    background-position: left 7% top, 0 0, 0 0;
    background-attachment: local;
    border-radius:0.3em;
    -webkit-box-shadow: 0 0.25em 0.7em #000;
    box-shadow: 0 0.25em 0.7em #000;
    outline: none;
    color:set-text-color($paperColor);
    border: none;
    resize: vertical;

    &::-webkit-scrollbar {
        width: 0.2em;
        background-color: transparent;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 0.3em 0.3em 0.3em 0.3em;
        height: 95%;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        outline: none;
        background-color: $scrollBarColor;
        border-radius: 0.3em 0.3em 0.3em 0.3em;
    }
    
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/** Media design */
@mixin media($bckGrndColor) {
    padding: 1%;
    margin: 0.3em;
    background-color: $bckGrndColor;
    border-radius: 0.3em;
    display: flex;
    color: set-text-color($bckGrndColor);
    flex-direction: row;
    justify-content: space-between;
    min-height: min-content;

    .media-left {
        display: flex;
        flex-direction: column;
        .media-left-author {
            font-weight: bold;   
        }
    }

    .media-content{
        flex: 1;
        margin: 0 1% 0 1%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        .media-title {
            font-weight: bold;
        }
        .media-text {
            white-space: pre-line;
        }
    }

    .media-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        .media-date {
            font-style: italic;
        }
    }
}

/** Tag list design */
@mixin tags($tagColor) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:1%;
    .tag {
        background-color: $tagColor;
        color: set-text-color($tagColor);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 0.3em;
        padding: 0.5em 0.9em 0.5em 0.9em;
        margin: 1%;
        white-space: nowrap;
        text-align: justify;
        .icon-left {
            margin: 0 7% 0 0;
            font-size: inherit;
        }
        .icon-right {
            margin: 0 0 0 7%;
            font-size: inherit;
        }
        // &:hover {
        //     background-color: set-hover-color($tagColor);
        // }
    }
}

/** Select design 
@uses javascript setCustomSelect function */
@mixin select($backGrndColor, $borderColor) {
    .select { /*css du bloc contenant le "select"*/
        position: relative;
        display: inline-flex;
        border-radius: 0.3em;
        border: 0.07em solid $borderColor;
        background-color: $backGrndColor;

        .select-label {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            font-size: inherit;
            color: set-text-color($backGrndColor);
            border-radius: 0.3em;
            padding: 0.5em 0.9em 0.5em 0.9em;
            .select-label-text {
                font-size: inherit;
            }
            .icon-left {
                margin: 0 7% 0 0;
                font-size: inherit;
            }
            .icon-right {
                margin: 0 0 0 7%;
                font-size: inherit;
            }
        }

        .options { /*indique que la liste d'options ne doit pas apparaitre*/
            background-color: $backGrndColor;
            display: none;
            overflow: hidden;
            position: absolute;
            font-size: inherit;
            top: 1em + 2*0.5em + 2*0.07em;
            right: 0;
            left: 0;
            z-index: 1;
            border: 0.07em solid $borderColor;
            border-radius: 0.3em;
            input {
                display: none;
            }
            label {
                color: set-text-color($backGrndColor);
                font-size: inherit;
                padding: 0.5em 0.9em 0.5em 0.9em;
                &:hover {
                    background-color: set-hover-color($backGrndColor);
                }
            }
        }
        .show {
            display:flex;
            flex-direction: column;
        }
    }



}

/** Loading spinner style 
@uses javascripte functions : displayLoader and hideLoader */
@mixin loader($bckGrndColor, $spinColor) {
    background-color: $bckGrndColor;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1%;

    .message {
        color: set-text-color($bckGrndColor);
        text-align: center;
        .message-title {
            font-weight: bold;
        }
    }
    .spinner {
        border: 0.5em solid rgba(255, 255, 255, 0.302);
        border-radius: 50%;
        border-top: 0.5em solid $spinColor;
        border-bottom: 0.5em solid $spinColor;
        width: 3em;
        height: 3em;
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
    }
    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        20% { -webkit-transform: rotate(25deg); }
        40% { -webkit-transform: rotate(80deg); }
        60% { -webkit-transform: rotate(170deg); }
        80% { -webkit-transform: rotate(300deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        20% { transform: rotate(25deg); }
        40% { transform: rotate(80deg); }
        60% { transform: rotate(170deg); }
        80% { transform: rotate(300deg); }
        100% { transform: rotate(360deg); }
    }
    
}

/** Return black if background is dark, white if it is light */
@function set-text-color ($bckGrndColor) {
    @if (lightness($bckGrndColor) > 50) {
        @return $colorPrimary;
    }
    @else {
        @return white;
    }
}

/** Return lighter color if background is dark, darker if it is light */
@function set-hover-color ($bckGrndColor) {
    @if (lightness($bckGrndColor) > 55) {
        @return darken($bckGrndColor, 15);
    }
    @else {
        @return lighten($bckGrndColor, 15);
    }
}