// VARIABLES

$colorPrimary: rgb(42, 43, 46);
$colorRed: #91001C;
$colorSecondary: rgb(255, 213, 121);
$colorGreen: #9CFF29;
$colorCurry: #FFAD15;
$colorValid: #04c207;
$colorPaper: #FAF0E4;
$colorGreyLight: rgb(233, 233, 233);

$fontSizeTitle: 2.2em;
$fontSizeSubtitle: 1.7em;
$fontSizeNormal: 1.3em;
$fontSizeSmall: 0.9em;

$borderRadiusBig: 0.5em;
$borderRadiusNormal: 0.3em;
$borderRadiusSmall: 0.1em;