<!-- REGISTER PANEL -->
<div id="registerPanel">

  <!-- IMAGE S'INSCRIRE -->
  <figure id="registerImage" class="image">
    <img class="is-rounded" src="../../../assets/inscriptionCarre.jpg">
  </figure>

  <!-- TITLE REGISTER -->
  <label class="subtitle">S'inscrire</label>

  <!-- NICKNAME -->
  <div id="nickname" class="input-control">
    <span class="icon-left">
      <i class="fas fa-user"></i>
    </span>
    <input class="input" type="text" name="nickname" placeholder="(Prénom + Nom) ou Pseudo" autocomplete="off" [(ngModel)]="credentials.nickname"
      (keyup.enter)="focusNextInput('registerPassword')">
  </div>


  <!-- PASSWORD -->
  <div id="password" class="input-control">
    <span class="icon-left">
      <i class="fas fa-lock"></i>
    </span>
    <input class="input" id="registerPassword" type="password" name="password" placeholder="Mot de passe" autocomplete="off"
      [(ngModel)]="credentials.password" (keyup.enter)="focusNextInput('registerConfirmPassword')">
  </div>

  <!-- PASSWORD CONFIRM -->
  <div id="confirmPassword" class="input-control">
    <span class="icon-left">
      <i class="fas fa-lock"></i>
    </span>
    <input class="input" id="registerConfirmPassword" type="password" name="confirmPassword" placeholder="Confirmation MdP" autocomplete="off"
      [(ngModel)]="confirmPassword" (keyup.enter)="register()">

  </div>

  <!-- REGISTER BUTTON -->
  <button id="registerButton" class="button" (click)="register()">
    <label class="button-text">Je m'inscris !</label>
  </button>

  <!-- REGISTER LOADER -->
  <div id="registerLoader">
    <div class="message">
      <label class="message-title"></label>
      <p class="message-content"></p>
    </div>
    <div class="spinner">
    </div>
  </div>


</div>