<!-- TOTAL VIEW -->
<div id="totalView">


    <!-- TOP BANNER -->
    <div id="topBanner">

        <!-- TITRE -->
        <div id="webSiteTitle">
            La cuisine des familles
        </div>


        <div id="WebSiteSpeachBanner">

            <!-- SE DECONNECTER -->
            <button id="disconnectButton" (click)="logout()">
                <span class="icon-left">
                    <i class="fas fa-power-off"></i>
                </span>
                <label class="button-text">A la prochaine !</label>
            </button>

            <!-- SPEACH -->
            <div id="WebSiteSpeach">
                <p>La cuisine des familles vous permet de révéler le chef qui est en vous !
                    <br/>Créez vos livres de recettes de familles, ou rejoignez les livres de vos amis, pour partager vos recettes
                    fétiches entre vous !
                </p>
            </div>

            <!-- NAVIGATION -->
            <div id="navigation" class="dropdown" (mouseenter)="toggleNav()" (mouseleave)="toggleNav()">
                <button id="navButton" class="dropdown-button">
                    <label class="button-text">J'aimerais... </label>
                    <span class="icon-right">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div id="navDropdown" class="dropdown-content">
                    <a class="dropdown-item" routerLink="/hostpage">
                        Chercher des super recettes !
                    </a>
                    <a class="dropdown-item" routerLink="/newrecipe">
                        Publier une super recette !
                    </a>
                    <a class="dropdown-item" routerLink="/feedback">
                        Aider Ludo à améliorer son site !
                    </a>
                    <!-- <a class="dropdown-item">
                        Gérer mes livres de recettes !
                    </a>
                    <a class="dropdown-item">
                        Gérer mon compte !
                    </a> -->
                </div>
            </div>

        </div>
    </div>
    <!-- ROUTER -->
    <router-outlet></router-outlet>

</div>