@font-face {
    font-family: 'jrhandregular';
    src: url('jr!ha___-webfont.eot');
    src: url('jr!ha___-webfont.eot?#iefix') format('embedded-opentype'),
         url('jr!ha___-webfont.woff2') format('woff2'),
         url('jr!ha___-webfont.woff') format('woff'),
         url('jr!ha___-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

