<!-- LOGIN PANEL -->
<div id="loginPanel">

  <!-- IMAGE SE CONNECTER -->
  <figure id="loginImage" class="image">
    <img class="is-rounded" src="../../../assets/seConnecterCarre.jpg">
  </figure>

  <!-- TITLE LOGIN -->
  <label class="subtitle">Se connecter</label>

  <!-- NICKNAME -->
  <div id="nickname" class="input-control">
    <span class="icon-left">
      <i class="fas fa-user"></i>
    </span>
    <input class="input" type="text" placeholder="(Prénom + Nom) ou Pseudo" [(ngModel)]="credentials.nickname" (keyup.enter)="focusNextInput('loginPassword')"
    />
  </div>

  <!-- PASSWORD -->
  <div id="password" class="input-control">
    <span class="icon-left">
      <i class="fas fa-lock"></i>
    </span>
    <input id="loginPassword" class="input" type="password" placeholder="Mot de Passe" autocomplete="off" [(ngModel)]="credentials.password"
      (keyup.enter)="login()">
  </div>


  <!-- LOGIN BUTTON -->
  <button id="loginButton" class="button" (click)="login()">
    <label class="button-text">Se connecter</label>
  </button>

  <!-- LOGIN LOADER -->
  <div id="loginLoader">
    <div class="message">
      <label class="message-title"></label>
      <p class="message-content"></p>
    </div>
    <div class="spinner">
    </div>
  </div>

</div>