@import url(../../../../node_modules/@fortawesome/fontawesome-free/css/all.css);
/** Button design with icons left and right */
/** Input design with icons left and right */
/** Image design to resize image and make it round */
/** Dropdown button menu design with icons left and right 
    @uses mixin button
    @uses toggleNav() javascript function */
/** Table design with image background */
/** Text area desing paper book like */
/** Media design */
/** Tag list design */
/** Select design 
@uses javascript setCustomSelect function */
/** Loading spinner style 
@uses javascripte functions : displayLoader and hideLoader */
/** Return black if background is dark, white if it is light */
/** Return lighter color if background is dark, darker if it is light */
@font-face {
  font-family: 'cac_champagneregular';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/cac_champagne_macroman/cac_champagne-webfont.eot');
    src: url('../fonts/cac_champagne_macroman/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cac_champagne_macroman/cac_champagne-webfont.woff') format('woff'), url('../fonts/cac_champagne_macroman/cac_champagne-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'jrhandregular';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.eot');
    src: url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.woff') format('woff'), url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'permanent_markerregular';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.eot');
    src: url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.woff') format('woff'), url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'kalam_regular';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/kalam/Kalam-Regular.ttf') format('truetype');
}

#totalView {
  display: flex;
  flex-direction: column;
}

#topBanner {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../../../assets/topBannerImage.png');
  background-size: cover;
  align-items: center;
}

#topBanner #webSiteTitle {
  font-size: 2.2em;
  margin: 3% 0 3% 0;
  padding: 1% 3% 1% 3%;
  text-align: center;
  color: white;
  border: black solid .07em;
  border-radius: .3em;
  background-color: #2a2b2e;
}

#topBanner #WebSiteSpeachBanner {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1% 0 1% 0;
  background-color: #2a2b2e;
  align-items: center;
  justify-content: space-around;
}

#topBanner #disconnectButton {
  font-family: inherit;
  font-size: 1.3em;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: .5em .9em .5em .9em;
  text-align: center;
  white-space: nowrap;
  color: white;
  border: .07em #45000d solid;
  border-radius: .3em;
  outline: none;
  background-color: #91001c;
  justify-content: center;
  align-items: center;
}

#topBanner #disconnectButton .button-text {
  font-size: inherit;
}

#topBanner #disconnectButton .icon-left {
  font-size: inherit;
  margin: 0 7% 0 0;
}

#topBanner #disconnectButton .icon-right {
  font-size: inherit;
  margin: 0 0 0 7%;
}

#topBanner #disconnectButton:hover {
  background-color: #de002b;
}

#topBanner #disconnectButton:active {
  top: .1em;
}

#topBanner #WebSiteSpeach {
  font-family: inherit;
  font-size: 1.3em;
  width: 50%;
  text-align: center;
  color: white;
}

#topBanner #navigation {
  font-family: inherit;
  font-size: 1.3em;
  font-style: normal;
  position: relative;
  display: inline-flex;
}

#topBanner #navigation .dropdown-button {
  font-size: inherit;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: .5em .9em .5em .9em;
  text-align: center;
  white-space: nowrap;
  color: #2a2b2e;
  border: .07em #ffbd2d solid;
  border-radius: .3em;
  outline: none;
  background-color: #ffd579;
  justify-content: center;
  align-items: center;
}

#topBanner #navigation .dropdown-button .button-text {
  font-size: inherit;
}

#topBanner #navigation .dropdown-button .icon-left {
  font-size: inherit;
  margin: 0 7% 0 0;
}

#topBanner #navigation .dropdown-button .icon-right {
  font-size: inherit;
  margin: 0 0 0 7%;
}

#topBanner #navigation .dropdown-button:hover {
  background-color: #ffbd2d;
}

#topBanner #navigation .dropdown-button:active {
  top: .1em;
}

#topBanner #navigation .dropdown-button:hover {
  background-color: #ffbd2d;
}

#topBanner #navigation .dropdown-content {
  font-size: inherit;
  position: absolute;
  z-index: 1;
  top: 2.14em;
  right: 0;
  left: 0;
  display: none;
  overflow: auto;
  border: .07em #ffbd2d solid;
  border-radius: 0 0 .3em .3em;
  background-color: #ffd579;
  box-shadow: 0 .2em .4em 0 rgba(0, 0, 0, .2);
}

#topBanner #navigation .dropdown-content a {
  font-size: inherit;
  display: block;
  padding: .5em .9em .5em .9em;
  text-decoration: none;
  color: #2a2b2e;
}

#topBanner #navigation .dropdown-content a:hover {
  background-color: #ffbd2d;
}

#topBanner #navigation:hover .dropdown-button {
  border-radius: .3em .3em 0 0;
}

#topBanner #navigation .show {
  display: block;
}
