@import url(../../../../node_modules/@fortawesome/fontawesome-free/css/all.css);
/** Button design with icons left and right */
/** Input design with icons left and right */
/** Image design to resize image and make it round */
/** Dropdown button menu design with icons left and right 
    @uses mixin button
    @uses toggleNav() javascript function */
/** Table design with image background */
/** Text area desing paper book like */
/** Media design */
/** Tag list design */
/** Select design 
@uses javascript setCustomSelect function */
/** Loading spinner style 
@uses javascripte functions : displayLoader and hideLoader */
/** Return black if background is dark, white if it is light */
/** Return lighter color if background is dark, darker if it is light */
@font-face {
  font-family: 'cac_champagneregular';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/cac_champagne_macroman/cac_champagne-webfont.eot');
    src: url('../fonts/cac_champagne_macroman/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cac_champagne_macroman/cac_champagne-webfont.woff') format('woff'), url('../fonts/cac_champagne_macroman/cac_champagne-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'jrhandregular';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.eot');
    src: url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.woff') format('woff'), url('../fonts/jr!hand_regular_macroman/jr!ha___-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'permanent_markerregular';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.eot');
    src: url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.woff') format('woff'), url('../fonts/permanentmarker_regular_macroman/PermanentMarker-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'kalam_regular';
    font-weight: normal;
    font-style: normal; 

    src: url('../fonts/kalam/Kalam-Regular.ttf') format('truetype');
}

#feedbackPanel {
  font-family: Tahoma, Geneva, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

#feedbackSpeach {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  color: white;
  border-radius: .3em;
  background-color: #2a2b2e;
  align-items: center;
  justify-content: space-around;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
  align-items: center;
}

.selectContainer .select {
  font-size: 1.3em;
  width: 70%;
}

.selectContainer .select {
    /*css du bloc contenant le "select"*/
  position: relative;
  display: inline-flex;
  border: .07em solid #2a2b2e;
  border-radius: .3em;
  background-color: white;
}

.selectContainer .select .select-label {
  font-size: inherit;
  display: flex;
  width: 100%;
  padding: .5em .9em .5em .9em;
  text-align: center;
  color: #2a2b2e;
  border-radius: .3em;
  justify-content: space-between;
  align-items: center;
}

.selectContainer .select .select-label .select-label-text {
  font-size: inherit;
}

.selectContainer .select .select-label .icon-left {
  font-size: inherit;
  margin: 0 7% 0 0;
}

.selectContainer .select .select-label .icon-right {
  font-size: inherit;
  margin: 0 0 0 7%;
}

.selectContainer .select .options {
  font-size: inherit;
  position: absolute;
  z-index: 1;
  top: 2.14em;
  right: 0;
  left: 0;
  display: none;
  overflow: hidden;
  border: .07em solid #2a2b2e;
  border-radius: .3em;
    /*indique que la liste d'options ne doit pas apparaitre*/
    background-color: white;
}
.selectContainer .select .options input
{
    display: none;
}
.selectContainer .select .options label
{
    font-size: inherit;

    padding: .5em .9em .5em .9em; 

    color: #2a2b2e;
}
.selectContainer .select .options label:hover
{
    background-color: #d9d9d9;
}
.selectContainer .select .show
{
    display: flex;
    flex-direction: column;
}

#feedbacks
{
    display: flex;
    flex-direction: column;

    width: 90%;
    margin: 2% 5% 0 5%;

    border-radius: .5em;
    background-color: #2a2b2e; 

    align-items: center;
}
#feedbacks #list-feedbacks
{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;

    width: 100%;
    max-height: 35em;

    align-items: center;
    /* Track */
    /* Handle */
}
#feedbacks #list-feedbacks::-webkit-scrollbar
{
    width: .2em;

    background-color: transparent;
}
#feedbacks #list-feedbacks::-webkit-scrollbar-track
{
    height: 95%; 

    border-radius: .3em .3em .3em .3em;
    background-color: transparent;
}
#feedbacks #list-feedbacks::-webkit-scrollbar-thumb
{
    border-radius: .3em .3em .3em .3em; 
    outline: none;
    background-color: #ffbd2d;
}
#feedbacks #title-feedbacks
{
    font-size: 1.7em;

    color: white;
}
#feedbacks .feedback
{
    width: 98%;
    margin: .5% 1% .5% 1%;
}
#feedbacks .feedback .media
{
    display: flex;
    flex-direction: row;

    min-height: -webkit-min-content;

    min-height: -moz-min-content;

    min-height: min-content; 
    margin: .3em;
    padding: 1%;

    color: #2a2b2e;
    border: solid .07em #ffd579;
    border-radius: .3em;
    background-color: #e9e9e9;

    justify-content: space-between;
}
#feedbacks .feedback .media .media-left
{
    display: flex;
    flex-direction: column;
}
#feedbacks .feedback .media .media-left .media-left-author
{
    font-weight: bold;
}
#feedbacks .feedback .media .media-content
{
    display: flex;
    flex-direction: column;

    margin: 0 1% 0 1%;

    text-align: left; 

    flex: 1;
    justify-content: start;
}
#feedbacks .feedback .media .media-content .media-title
{
    font-weight: bold;
}
#feedbacks .feedback .media .media-content .media-text
{
    white-space: pre-line;
}
#feedbacks .feedback .media .media-right
{
    display: flex;
    flex-direction: column;

    align-items: center;
}
#feedbacks .feedback .media .media-right .media-date
{
    font-style: italic;
}
#feedbacks .feedback .media .button-delete
{
    position: relative;

    display: flex;
    flex-direction: row;

    padding: .5em .9em .5em .9em;

    text-align: center; 
    white-space: nowrap;

    color: white;
    border: .07em #91001c solid;
    border-radius: .3em;
    outline: none;
    background-color: #de002b;

    justify-content: center;
    align-items: center;
}
#feedbacks .feedback .media .button-delete .button-text
{
    font-size: inherit;
}
#feedbacks .feedback .media .button-delete .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#feedbacks .feedback .media .button-delete .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#feedbacks .feedback .media .button-delete:hover
{
    background-color: #ff2b54;
}
#feedbacks .feedback .media .button-delete:active
{
    top: .1em;
}

#newFeedback
{
    width: 90%;
    margin: 1% 5% 1% 5%;
}
#newFeedback .media
{
    display: flex;
    flex-direction: row;

    min-height: -webkit-min-content;

    min-height: -moz-min-content;

    min-height: min-content; 
    margin: .3em;
    padding: 1%;

    color: #2a2b2e;
    border-radius: .3em;
    background-color: #ffd579;

    justify-content: space-between;
}
#newFeedback .media .media-left
{
    display: flex;
    flex-direction: column;
}
#newFeedback .media .media-left .media-left-author
{
    font-weight: bold;
}
#newFeedback .media .media-content
{
    display: flex;
    flex-direction: column;

    margin: 0 1% 0 1%;

    text-align: left; 

    flex: 1;
    justify-content: start;
}
#newFeedback .media .media-content .media-title
{
    font-weight: bold;
}
#newFeedback .media .media-content .media-text
{
    white-space: pre-line;
}
#newFeedback .media .media-right
{
    display: flex;
    flex-direction: column;

    align-items: center;
}
#newFeedback .media .media-right .media-date
{
    font-style: italic;
}
#newFeedback .media .input-control
{
    /* Chrome */
    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

    margin: 2% 0 2% 0;
    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #ffd579 solid;
    border-radius: .3em;
    outline: none;
    background-color: white;
    box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);

            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
}
#newFeedback .media .input-control .input
{
    font-size: inherit;
    box-sizing: border-box; 
    width: 100%;

    text-align: justify;
    white-space: nowrap;

    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1 1 auto;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
#newFeedback .media .input-control .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#newFeedback .media .input-control .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#newFeedback .media .input-control:hover
{
    background-color: #d9d9d9;
    box-shadow: none;
}
#newFeedback .media .input-control:hover .input
{
    background-color: #d9d9d9;
}
#newFeedback .media textarea
{
    font-size: 1.3em;

    position: relative;

    padding-left: 12%;

    resize: vertical;

    color: #2a2b2e;
    border: none;
    border-radius: .3em;
    outline: none;
    background: url('../../../assets/Ligne_verti_cahier.png'), url('../../../assets/Ligne_horiz_cahier.png'), url('../../../assets/paper-texture.png');
    background-color: #faf0e4;
    background-repeat: repeat-y, repeat, repeat;
    background-attachment: local;
    background-position: left 7% top, 0 0, 0 0;
    background-size: 30px 1000px, 3000px 1.2em, 200px 200px;
    box-shadow: 0 .25em .7em #000;

    align-self: stretch;
    /* Track */
    /* Handle */
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
#newFeedback .media textarea::-webkit-scrollbar
{
    width: .2em;

    background-color: transparent;
}
#newFeedback .media textarea::-webkit-scrollbar-track
{
    height: 95%; 

    border-radius: .3em .3em .3em .3em;
    background-color: transparent;
}
#newFeedback .media textarea::-webkit-scrollbar-thumb
{
    border-radius: .3em .3em .3em .3em; 
    outline: none;
    background-color: #ffd579;
}
#newFeedback .media .sendButton
{
    position: relative;

    display: flex;
    flex-direction: row;

    padding: .5em .9em .5em .9em;

    text-align: center; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #76dc00 solid;
    border-radius: .3em;
    outline: none;
    background-color: #9cff29;

    justify-content: center;
    align-items: center;
}
#newFeedback .media .sendButton .button-text
{
    font-size: inherit;
}
#newFeedback .media .sendButton .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#newFeedback .media .sendButton .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#newFeedback .media .sendButton:hover
{
    background-color: #76dc00;
}
#newFeedback .media .sendButton:active
{
    top: .1em;
}

#feedbackLoader
{
    position: fixed;
    top: 20vh;
    right: 20vw;
    bottom: 20vh;
    left: 20vw;

    display: none;
    flex-direction: column;

    margin: auto;
    padding: 1%;

    border-radius: .3em;
    background-color: #2a2b2e;

    align-items: center;
    justify-content: space-evenly;
    /* Safari */
}
#feedbackLoader .message
{
    text-align: center; 

    color: white;
}
#feedbackLoader .message .message-title
{
    font-weight: bold;
}
#feedbackLoader .spinner
{
    width: 3em;
    height: 3em;

    -webkit-animation: spin 1s linear infinite;
    /* Safari */
            animation: spin 1s linear infinite; 

    border: .5em solid rgba(255, 255, 255, .302);
    border-top: .5em solid #ffd579;
    border-bottom: .5em solid #ffd579;
    border-radius: 50%;
}

@-webkit-keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
    }
    20%
    {
        -webkit-transform: rotate(25deg);
    }
    40%
    {
        -webkit-transform: rotate(80deg);
    }
    60%
    {
        -webkit-transform: rotate(170deg);
    }
    80%
    {
        -webkit-transform: rotate(300deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    20%
    {
        -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
    }
    40%
    {
        -webkit-transform: rotate(80deg);
                transform: rotate(80deg);
    }
    60%
    {
        -webkit-transform: rotate(170deg);
                transform: rotate(170deg);
    }
    80%
    {
        -webkit-transform: rotate(300deg);
                transform: rotate(300deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
