@import url(../../../../node_modules/@fortawesome/fontawesome-free/css/all.css);
/** Button design with icons left and right */
/** Input design with icons left and right */
/** Image design to resize image and make it round */
/** Dropdown button menu design with icons left and right 
    @uses mixin button
    @uses toggleNav() javascript function */
/** Table design with image background */
/** Text area desing paper book like */
/** Media design */
/** Tag list design */
/** Select design 
@uses javascript setCustomSelect function */
/** Loading spinner style 
@uses javascripte functions : displayLoader and hideLoader */
/** Return black if background is dark, white if it is light */
/** Return lighter color if background is dark, darker if it is light */
#newRecipePanel {
  font-family: Tahoma, Geneva, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#titleRow {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  border: .2em #2a2b2e double;
  border-radius: .3em;
  box-shadow: .1em .1em .3em #2a2b2e;
  align-self: center;
  align-items: center;
  justify-content: center;
}

#titleRow .input-control {
  text-align: justify;
  white-space: nowrap;
}

#titleRow .input-control #nameNewRecipeInput {
  font-size: 1.7em;
  min-width: 8em;
  padding: .5em;
  transition: width .25s;
  text-align: center;
  border: none;
  background-color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

#selectorsRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2% 0 2%;
  justify-content: space-around;
}

#selectorsRow .selectContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

#selectorsRow .selectContainer .select {
  font-size: 1.3em;
  width: 70%;
}

#selectorsRow .selectContainer .select {
    /*css du bloc contenant le "select"*/
  position: relative;
  display: inline-flex;
  border: .07em solid #2a2b2e;
  border-radius: .3em;
  background-color: white;
}

#selectorsRow .selectContainer .select .select-label {
  font-size: inherit;
  display: flex;
  width: 100%;
  padding: .5em .9em .5em .9em;
  text-align: center;
  color: #2a2b2e;
  border-radius: .3em;
  justify-content: space-between;
  align-items: center;
}

#selectorsRow .selectContainer .select .select-label .select-label-text {
  font-size: inherit;
}

#selectorsRow .selectContainer .select .select-label .icon-left {
  font-size: inherit;
  margin: 0 7% 0 0;
}

#selectorsRow .selectContainer .select .select-label .icon-right {
  font-size: inherit;
  margin: 0 0 0 7%;
}

#selectorsRow .selectContainer .select .options {
  font-size: inherit;
  position: absolute;
  z-index: 1;
  top: 2.14em;
  right: 0;
  left: 0;
  display: none;
  overflow: hidden;
  border: .07em solid #2a2b2e;
  border-radius: .3em;
    /*indique que la liste d'options ne doit pas apparaitre*/
    background-color: white;
}
#selectorsRow .selectContainer .select .options input
{
    display: none;
}
#selectorsRow .selectContainer .select .options label
{
    font-size: inherit;

    padding: .5em .9em .5em .9em; 

    color: #2a2b2e;
}
#selectorsRow .selectContainer .select .options label:hover
{
    background-color: #d9d9d9;
}
#selectorsRow .selectContainer .select .show
{
    display: flex;
    flex-direction: column;
}
#selectorsRow .selectContainer #durationInput
{
    font-size: 1.3em;
    /* Chrome */

    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

    width: 35%;
    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #2a2b2e solid;
    border-radius: .3em;
    outline: none;
    background-color: white;
    box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);

            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
}
#selectorsRow .selectContainer #durationInput .input
{
    font-size: inherit;
    box-sizing: border-box; 
    width: 100%;

    text-align: justify;
    white-space: nowrap;

    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1 1 auto;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
#selectorsRow .selectContainer #durationInput .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#selectorsRow .selectContainer #durationInput .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#selectorsRow .selectContainer #durationInput:hover
{
    background-color: #d9d9d9;
    box-shadow: none;
}
#selectorsRow .selectContainer #durationInput:hover .input
{
    background-color: #d9d9d9;
}

#ingredientsTable
{
    font-size: 1.3em;

    position: relative;

    width: 90%;
    min-height: 10em;
    margin: 2% 5% 2% 5%;

    border-collapse: collapse;

    text-align: center; 

    color: black;
}
#ingredientsTable .data-row
{
    height: 2em;

    cursor: pointer;
}
#ingredientsTable .data-row:hover
{
    background-color: rgba(233, 233, 233, .5);
}
#ingredientsTable .header
{
    height: 3em;

    cursor: initial;

    color: white;
}
#ingredientsTable .header th
{
    background-color: #2a2b2e;
}
#ingredientsTable .header th:first-child
{
    border-radius: .3em 0 0 0;
}
#ingredientsTable .header th:last-child
{
    border-radius: 0 .3em 0 0;
}
#ingredientsTable tbody:after
{
    position: absolute;
    z-index: -1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .3;
    /* set your opacity */
    border-radius: .3em;
    background-image: url('../../../assets/epices.jpg');
    background-size: 10em;
}
#ingredientsTable tr .ingredient
{
    padding-left: 1em;

    text-align: start;
}
#ingredientsTable .button-delete
{
    position: relative;

    display: table-cell;
    display: flex;
    flex-direction: row;

    margin: auto;
    padding: .5em .9em .5em .9em;

    text-align: center; 
    white-space: nowrap;

    color: white;
    border: .07em #91001c solid;
    border-radius: .3em;
    outline: none;
    background-color: #de002b;

    justify-content: center;
    align-items: center;
}
#ingredientsTable .button-delete .button-text
{
    font-size: inherit;
}
#ingredientsTable .button-delete .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#ingredientsTable .button-delete .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#ingredientsTable .button-delete:hover
{
    background-color: #ff2b54;
}
#ingredientsTable .button-delete:active
{
    top: .1em;
}
#ingredientsTable .button-add
{
    position: relative;

    display: table-cell;
    display: flex;
    flex-direction: row;

    margin: auto;
    padding: .5em .9em .5em .9em;

    text-align: center; 
    white-space: nowrap;

    color: white;
    border: .07em #027704 solid;
    border-radius: .3em;
    outline: none;
    background-color: #04c207;

    justify-content: center;
    align-items: center;
}
#ingredientsTable .button-add .button-text
{
    font-size: inherit;
}
#ingredientsTable .button-add .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#ingredientsTable .button-add .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#ingredientsTable .button-add:hover
{
    background-color: #18fa1c;
}
#ingredientsTable .button-add:active
{
    top: .1em;
}
#ingredientsTable #formIngredient
{
    font-size: .9em;

    display: table-cell;
    /* Chrome */
    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

    width: 80%;
    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #2a2b2e solid;
    border-radius: .3em;
    outline: none;
    background-color: white;
    box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);

            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
}
#ingredientsTable #formIngredient .input
{
    font-size: inherit;
    box-sizing: border-box; 
    width: 100%;

    text-align: justify;
    white-space: nowrap;

    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1 1 auto;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
#ingredientsTable #formIngredient .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#ingredientsTable #formIngredient .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#ingredientsTable #formIngredient:hover
{
    background-color: #d9d9d9;
    box-shadow: none;
}
#ingredientsTable #formIngredient:hover .input
{
    background-color: #d9d9d9;
}
#ingredientsTable #formQuantity
{
    font-size: .9em;

    display: table-cell;
    /* Chrome */
    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

    width: 20%;
    margin: auto;
    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #2a2b2e solid;
    border-radius: .3em;
    outline: none;
    background-color: white;
    box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);

            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
}
#ingredientsTable #formQuantity .input
{
    font-size: inherit;
    box-sizing: border-box; 
    width: 100%;

    text-align: justify;
    white-space: nowrap;

    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1 1 auto;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
#ingredientsTable #formQuantity .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#ingredientsTable #formQuantity .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#ingredientsTable #formQuantity:hover
{
    background-color: #d9d9d9;
    box-shadow: none;
}
#ingredientsTable #formQuantity:hover .input
{
    background-color: #d9d9d9;
}
#ingredientsTable #formUnity
{
    font-size: .9em;

    display: table-cell;
    /* Chrome */
    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

    width: 25%;
    margin: auto;
    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #2a2b2e solid;
    border-radius: .3em;
    outline: none;
    background-color: white;
    box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);

            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
}
#ingredientsTable #formUnity .input
{
    font-size: inherit;
    box-sizing: border-box; 
    width: 100%;

    text-align: justify;
    white-space: nowrap;

    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1 1 auto;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
#ingredientsTable #formUnity .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#ingredientsTable #formUnity .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#ingredientsTable #formUnity:hover
{
    background-color: #d9d9d9;
    box-shadow: none;
}
#ingredientsTable #formUnity:hover .input
{
    background-color: #d9d9d9;
}

#explanations
{
    display: flex;
    flex-direction: column;

    margin: 2% 25% 2% 25%; 

    align-items: center;
}
#explanations .title-explanations
{
    display: flex;
    flex-direction: row;

    margin-bottom: 2%;

    white-space: nowrap; 

    justify-content: center;
    align-items: center;
}
#explanations .title-explanations #title-recipe
{
    font-size: 1.7em;
}
#explanations .title-explanations .input-control
{
    font-size: 1.3em;
    /* Chrome */

    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

    width: 3em;
    margin-left: 1%;
    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #2a2b2e solid;
    border-radius: .3em;
    outline: none;
    background-color: white;
    box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);

            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
}
#explanations .title-explanations .input-control .input
{
    font-size: inherit;
    box-sizing: border-box; 
    width: 100%;

    text-align: justify;
    white-space: nowrap;

    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1 1 auto;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
#explanations .title-explanations .input-control .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#explanations .title-explanations .input-control .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#explanations .title-explanations .input-control:hover
{
    background-color: #d9d9d9;
    box-shadow: none;
}
#explanations .title-explanations .input-control:hover .input
{
    background-color: #d9d9d9;
}
#explanations .textarea
{
    font-family: 'kalam_regular', 'Verdana', sans-serif;
    font-size: 1.3em;

    position: relative;

    padding-left: 12%;

    resize: vertical;

    color: #2a2b2e;
    border: none;
    border-radius: .3em;
    outline: none;
    background: url('../../../assets/Ligne_verti_cahier.png'), url('../../../assets/Ligne_horiz_cahier.png'), url('../../../assets/paper-texture.png');
    background-color: #faf0e4;
    background-repeat: repeat-y, repeat, repeat;
    background-attachment: local;
    background-position: left 7% top, 0 0, 0 0;
    background-size: 30px 1000px, 3000px 1.6em, 200px 200px;
    box-shadow: 0 .25em .7em #000;

    align-self: stretch;
    /* Track */
    /* Handle */
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
#explanations .textarea::-webkit-scrollbar
{
    width: .2em;

    background-color: transparent;
}
#explanations .textarea::-webkit-scrollbar-track
{
    height: 95%; 

    border-radius: .3em .3em .3em .3em;
    background-color: transparent;
}
#explanations .textarea::-webkit-scrollbar-thumb
{
    border-radius: .3em .3em .3em .3em; 
    outline: none;
    background-color: #ffd579;
}

#buttonsBlock
{
    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 2% 0 2% 0;

    justify-content: space-around;
}
#buttonsBlock #saveButton
{
    font-size: 1.3em;

    position: relative;

    display: flex;
    flex-direction: row;

    padding: .5em .9em .5em .9em;

    text-align: center; 
    white-space: nowrap;

    color: white;
    border: .07em #027704 solid;
    border-radius: .3em;
    outline: none;
    background-color: #04c207;

    justify-content: center;
    align-items: center;
}
#buttonsBlock #saveButton .button-text
{
    font-size: inherit;
}
#buttonsBlock #saveButton .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#buttonsBlock #saveButton .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#buttonsBlock #saveButton:hover
{
    background-color: #18fa1c;
}
#buttonsBlock #saveButton:active
{
    top: .1em;
}

#recipeCreatorLoader
{
    position: fixed;
    top: 20vh;
    right: 20vw;
    bottom: 20vh;
    left: 20vw;

    display: none;
    flex-direction: column;

    margin: auto;
    padding: 1%;

    border-radius: .3em;
    background-color: #2a2b2e;

    align-items: center;
    justify-content: space-evenly;
    /* Safari */
}
#recipeCreatorLoader .message
{
    text-align: center; 

    color: white;
}
#recipeCreatorLoader .message .message-title
{
    font-weight: bold;
}
#recipeCreatorLoader .spinner
{
    width: 3em;
    height: 3em;

    -webkit-animation: spin 1s linear infinite;
    /* Safari */
            animation: spin 1s linear infinite; 

    border: .5em solid rgba(255, 255, 255, .302);
    border-top: .5em solid #04c207;
    border-bottom: .5em solid #04c207;
    border-radius: 50%;
}

@-webkit-keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
    }
    20%
    {
        -webkit-transform: rotate(25deg);
    }
    40%
    {
        -webkit-transform: rotate(80deg);
    }
    60%
    {
        -webkit-transform: rotate(170deg);
    }
    80%
    {
        -webkit-transform: rotate(300deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    20%
    {
        -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
    }
    40%
    {
        -webkit-transform: rotate(80deg);
                transform: rotate(80deg);
    }
    60%
    {
        -webkit-transform: rotate(170deg);
                transform: rotate(170deg);
    }
    80%
    {
        -webkit-transform: rotate(300deg);
                transform: rotate(300deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
