@import url(../../../../node_modules/@fortawesome/fontawesome-free/css/all.css);
/** Button design with icons left and right */
/** Input design with icons left and right */
/** Image design to resize image and make it round */
/** Dropdown button menu design with icons left and right 
    @uses mixin button
    @uses toggleNav() javascript function */
/** Table design with image background */
/** Text area desing paper book like */
/** Media design */
/** Tag list design */
/** Select design 
@uses javascript setCustomSelect function */
/** Loading spinner style 
@uses javascripte functions : displayLoader and hideLoader */
/** Return black if background is dark, white if it is light */
/** Return lighter color if background is dark, darker if it is light */
#registerPanel {
  font-family: Tahoma, Geneva, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5%;
  padding: 5%;
  border: .07em #9cff29 solid;
  border-radius: .5em;
  align-items: center;
}

#registerPanel #registerImage img {
  width: 8em;
  height: 8em;
}

#registerPanel #registerImage .is-rounded {
  border-radius: 50%;
}

#registerPanel .subtitle {
  font-size: 1.7em;
  margin: 1% 0 1% 0;
}

#registerPanel #nickname {
  font-size: 1.3em;
    /* Chrome */
  display: flex;
    /* IE */
    /* Firefox */
  display: -webkit-flex;
  flex-direction: row;
  margin: 2% 0 2% 0;
  padding: .5em .9em .5em .9em;
  text-align: justify;
  white-space: nowrap;
  color: #2a2b2e;
  border: .07em #9cff29 solid;
  border-radius: .3em;
  outline: none;
  background-color: white;
  box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -webkit-align-items: center;
}

#registerPanel #nickname .input {
  font-size: inherit;
  box-sizing: border-box;
  width: 100%;
  text-align: justify;
  white-space: nowrap;
  color: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  flex: 1 1 auto;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

#registerPanel #nickname .icon-left {
  font-size: inherit;
  margin: 0 7% 0 0;
}

#registerPanel #nickname .icon-right {
  font-size: inherit;
  margin: 0 0 0 7%;
}

#registerPanel #nickname:hover {
  background-color: #d9d9d9;
  box-shadow: none;
}

#registerPanel #nickname:hover .input {
  background-color: #d9d9d9;
}

#registerPanel #password {
  font-size: 1.3em;
    /* Chrome */
  display: flex;
    /* IE */
    /* Firefox */
  display: -webkit-flex;
  flex-direction: row;
  margin: 2% 0 2% 0;
  padding: .5em .9em .5em .9em;
  text-align: justify;
  white-space: nowrap;
  color: #2a2b2e;
  border: .07em #9cff29 solid;
  border-radius: .3em;
  outline: none;
  background-color: white;
  box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -webkit-align-items: center;
}

#registerPanel #password .input {
  font-size: inherit;
  box-sizing: border-box;
  width: 100%;
  text-align: justify;
  white-space: nowrap;
  color: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  flex: 1 1 auto;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

#registerPanel #password .icon-left {
  font-size: inherit;
  margin: 0 7% 0 0;
}

#registerPanel #password .icon-right {
  font-size: inherit;
  margin: 0 0 0 7%;
}

#registerPanel #password:hover {
  background-color: #d9d9d9;
  box-shadow: none;
}

#registerPanel #password:hover .input {
  background-color: #d9d9d9;
}

#registerPanel #confirmPassword {
  font-size: 1.3em;
    /* Chrome */
  display: flex;
    /* IE */
    /* Firefox */
  display: -webkit-flex;
  flex-direction: row;
  margin: 2% 0 2% 0;
  padding: .5em .9em .5em .9em;
  text-align: justify;
  white-space: nowrap;
  color: #2a2b2e;
  border: .07em #9cff29 solid;
  border-radius: .3em;
  outline: none;
  background-color: white;
  box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: nowrap;
  -ms-flex-align: center;
  -webkit-justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -webkit-align-items: center;
}

#registerPanel #confirmPassword .input {
  font-size: inherit;
  box-sizing: border-box;
  width: 100%;
  text-align: justify;
  white-space: nowrap;
  color: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  flex: 1 1 auto;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

#registerPanel #confirmPassword .icon-left {
  font-size: inherit;
  margin: 0 7% 0 0;
}

#registerPanel #confirmPassword .icon-right {
  font-size: inherit;
  margin: 0 0 0 7%;
}

#registerPanel #confirmPassword:hover {
  background-color: #d9d9d9;
  box-shadow: none;
}

#registerPanel #confirmPassword:hover .input {
  background-color: #d9d9d9;
}

#registerPanel #registerButton {
  font-size: 1.3em;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: .5em .9em .5em .9em;
  text-align: center;
  white-space: nowrap;
  color: #2a2b2e;
  border: .07em #76dc00 solid;
  border-radius: .3em;
  outline: none;
  background-color: #9cff29;
  justify-content: center;
  align-items: center;
}

#registerPanel #registerButton .button-text {
  font-size: inherit;
}

#registerPanel #registerButton .icon-left {
  font-size: inherit;
  margin: 0 7% 0 0;
}

#registerPanel #registerButton .icon-right {
  font-size: inherit;
  margin: 0 0 0 7%;
}

#registerPanel #registerButton:hover {
  background-color: #76dc00;
}

#registerPanel #registerButton:active {
  top: .1em;
}

#registerPanel #registerLoader {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  display: none;
  flex-direction: column;
  margin: auto;
  padding: 1%;
  border-radius: .3em;
  background-color: #9cff29;
  align-items: center;
  justify-content: space-evenly;
    /* Safari */
}

#registerPanel #registerLoader .message {
  text-align: center;
  color: #2a2b2e;
}

#registerPanel #registerLoader .message .message-title {
  font-weight: bold;
}

#registerPanel #registerLoader .spinner {
  width: 3em;
  height: 3em;
  -webkit-animation: spin 1s linear infinite;
    /* Safari */
  animation: spin 1s linear infinite;
  border: .5em solid rgba(255, 255, 255, .302);
  border-top: .5em solid #2a2b2e;
  border-bottom: .5em solid #2a2b2e;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(25deg);
  }

  40% {
    -webkit-transform: rotate(80deg);
  }

  60% {
    -webkit-transform: rotate(170deg);
  }

  80% {
    -webkit-transform: rotate(300deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  20% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }

  40% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }

  60% {
    -webkit-transform: rotate(170deg);
            transform: rotate(170deg);
  }

  80% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
