@import url(../../../../node_modules/@fortawesome/fontawesome-free/css/all.css);
/** Button design with icons left and right */
/** Input design with icons left and right */
/** Image design to resize image and make it round */
/** Dropdown button menu design with icons left and right 
    @uses mixin button
    @uses toggleNav() javascript function */
/** Table design with image background */
/** Text area desing paper book like */
/** Media design */
/** Tag list design */
/** Select design 
@uses javascript setCustomSelect function */
/** Loading spinner style 
@uses javascripte functions : displayLoader and hideLoader */
/** Return black if background is dark, white if it is light */
/** Return lighter color if background is dark, darker if it is light */
#searchPanel {
  font-family: Tahoma, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#filtersPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2% 5% 2% 5%;
  border-radius: .3em;
  background-color: white;
  align-items: center;
}

#filtersPanel #filtersTitle {
  font-size: 1.7em;
}

#filtersPanel:hover {
  background-color: #ebebeb;
}

#selectorsRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 3% 0 3% 0;
  justify-content: space-around;
}

#selectorsRow .selectContainer {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
}

#selectorsRow .selectContainer .select {
  font-size: .9em;
  width: 70%;
}

#selectorsRow .selectContainer .select {
    /*css du bloc contenant le "select"*/
  position: relative;
  display: inline-flex;
  border: .07em solid #2a2b2e;
  border-radius: .3em;
  background-color: white;
}

#selectorsRow .selectContainer .select .select-label {
  font-size: inherit;
  display: flex;
  width: 100%;
  padding: .5em .9em .5em .9em;
  text-align: center;
  color: #2a2b2e;
  border-radius: .3em;
  justify-content: space-between;
  align-items: center;
}

#selectorsRow .selectContainer .select .select-label .select-label-text {
  font-size: inherit;
}

#selectorsRow .selectContainer .select .select-label .icon-left {
  font-size: inherit;
  margin: 0 7% 0 0;
}

#selectorsRow .selectContainer .select .select-label .icon-right {
  font-size: inherit;
  margin: 0 0 0 7%;
}

#selectorsRow .selectContainer .select .options {
  font-size: inherit;
  position: absolute;
  z-index: 1;
  top: 2.14em;
  right: 0;
  left: 0;
  display: none;
  overflow: hidden;
  border: .07em solid #2a2b2e;
  border-radius: .3em;
    /*indique que la liste d'options ne doit pas apparaitre*/
    background-color: white;
}
#selectorsRow .selectContainer .select .options input
{
    display: none;
}
#selectorsRow .selectContainer .select .options label
{
    font-size: inherit;

    padding: .5em .9em .5em .9em; 

    color: #2a2b2e;
}
#selectorsRow .selectContainer .select .options label:hover
{
    background-color: #d9d9d9;
}
#selectorsRow .selectContainer .select .show
{
    display: flex;
    flex-direction: column;
}
#selectorsRow #selectDurations
{
    /* Chrome */
    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

            justify-content: space-around;
            flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
}
#selectorsRow #selectDurations #duration-min
{
    font-size: .9em;
    /* Chrome */

    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

    width: 20%;
    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #2a2b2e solid;
    border-radius: .3em;
    outline: none;
    background-color: white;
    box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);

            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
}
#selectorsRow #selectDurations #duration-min .input
{
    font-size: inherit;
    box-sizing: border-box; 
    width: 100%;

    text-align: justify;
    white-space: nowrap;

    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1 1 auto;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
#selectorsRow #selectDurations #duration-min .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#selectorsRow #selectDurations #duration-min .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#selectorsRow #selectDurations #duration-min:hover
{
    background-color: #d9d9d9;
    box-shadow: none;
}
#selectorsRow #selectDurations #duration-min:hover .input
{
    background-color: #d9d9d9;
}
#selectorsRow #selectDurations #duration-max
{
    font-size: .9em;
    /* Chrome */

    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

    width: 20%;
    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #2a2b2e solid;
    border-radius: .3em;
    outline: none;
    background-color: white;
    box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);

            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
}
#selectorsRow #selectDurations #duration-max .input
{
    font-size: inherit;
    box-sizing: border-box; 
    width: 100%;

    text-align: justify;
    white-space: nowrap;

    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1 1 auto;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
#selectorsRow #selectDurations #duration-max .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#selectorsRow #selectDurations #duration-max .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#selectorsRow #selectDurations #duration-max:hover
{
    background-color: #d9d9d9;
    box-shadow: none;
}
#selectorsRow #selectDurations #duration-max:hover .input
{
    background-color: #d9d9d9;
}

#searchTagPanel
{
    display: flex;
    flex-direction: row;

    width: 100%;
    margin: 3% 0 3% 0;

    justify-content: space-around;
}
#searchTagPanel .searchColumn
{
    display: flex;
    flex-direction: column;

    width: 25%;

    align-items: center;
}
#searchTagPanel .searchColumn .input-control
{
    font-size: .9em;
    /* Chrome */

    display:         flex;
    /* IE */
    /* Firefox */
    display: -webkit-flex;
            flex-direction: row;

    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border: .07em #2a2b2e solid;
    border-radius: .3em;
    outline: none;
    background-color: white;
    box-shadow: inset 0 .1em 0 0 rgba(217, 217, 217, .5);

            justify-content: space-around;
            flex-wrap: nowrap;
            align-items: center;
    -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;
    -ms-flex-align: center;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: nowrap;
    -webkit-align-items: center;
}
#searchTagPanel .searchColumn .input-control .input
{
    font-size: inherit;
    box-sizing: border-box; 
    width: 100%;

    text-align: justify;
    white-space: nowrap;

    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    flex: 1 1 auto;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
}
#searchTagPanel .searchColumn .input-control .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#searchTagPanel .searchColumn .input-control .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#searchTagPanel .searchColumn .input-control:hover
{
    background-color: #d9d9d9;
    box-shadow: none;
}
#searchTagPanel .searchColumn .input-control:hover .input
{
    background-color: #d9d9d9;
}
#searchTagPanel .searchColumn .tags
{
    font-size: .9em;

    display: flex;

    width: 100%;
    padding: 1%; 

    justify-content: center;
    flex-wrap: wrap;
}
#searchTagPanel .searchColumn .tags .tag
{
    display: flex;
    flex-direction: row;

    margin: 1%;
    padding: .5em .9em .5em .9em;

    text-align: justify; 
    white-space: nowrap;

    color: #2a2b2e;
    border-radius: .3em;
    background-color: #ffd579;

    justify-content: center;
    align-items: center;
}
#searchTagPanel .searchColumn .tags .tag .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#searchTagPanel .searchColumn .tags .tag .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#searchTagPanel .searchColumn .tags .tag:hover .icon-right
{
    cursor: pointer;

    color: #de002b;
}

#searchLoader
{
    position: absolute;
    top: 2em;
    right: 2em;
    bottom: 1.5em;
    left: 2em;

    display: none;
    flex-direction: column;

    margin: auto;
    padding: 1%;

    border-radius: .3em;
    background-color: #4f5056;

    align-items: center;
    justify-content: space-evenly;
    /* Safari */
}
#searchLoader .message
{
    text-align: center; 

    color: white;
}
#searchLoader .message .message-title
{
    font-weight: bold;
}
#searchLoader .spinner
{
    width: 3em;
    height: 3em;

    -webkit-animation: spin 1s linear infinite;
    /* Safari */
            animation: spin 1s linear infinite; 

    border: .5em solid rgba(255, 255, 255, .302);
    border-top: .5em solid #2a2b2e;
    border-bottom: .5em solid #2a2b2e;
    border-radius: 50%;
}

@-webkit-keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
    }
    20%
    {
        -webkit-transform: rotate(25deg);
    }
    40%
    {
        -webkit-transform: rotate(80deg);
    }
    60%
    {
        -webkit-transform: rotate(170deg);
    }
    80%
    {
        -webkit-transform: rotate(300deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin
{
    0%
    {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    20%
    {
        -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
    }
    40%
    {
        -webkit-transform: rotate(80deg);
                transform: rotate(80deg);
    }
    60%
    {
        -webkit-transform: rotate(170deg);
                transform: rotate(170deg);
    }
    80%
    {
        -webkit-transform: rotate(300deg);
                transform: rotate(300deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

#searchButton
{
    font-size: 1.3em;

    position: relative;

    display: flex;
    flex-direction: row;

    padding: .5em .9em .5em .9em;

    text-align: center; 
    white-space: nowrap;

    color: white;
    border: .07em #050606 solid;
    border-radius: .3em;
    outline: none;
    background-color: #2a2b2e;

    justify-content: center;
    align-items: center;
}
#searchButton .button-text
{
    font-size: inherit;
}
#searchButton .icon-left
{
    font-size: inherit; 

    margin: 0 7% 0 0;
}
#searchButton .icon-right
{
    font-size: inherit; 

    margin: 0 0 0 7%;
}
#searchButton:hover
{
    background-color: #4f5056;
}
#searchButton:active
{
    top: .1em;
}
#searchButton .icon-left
{
    color: #ffd579;
}

#searchTable
{
    font-size: 1.3em;

    position: relative;

    width: 90%;
    height: 10em;
    margin: 2% 5% 2% 5%;

    border-collapse: collapse;

    text-align: center; 

    color: black;
}
#searchTable .data-row
{
    height: 2em;

    cursor: pointer;
}
#searchTable .data-row:hover
{
    background-color: rgba(233, 233, 233, .5);
}
#searchTable .header
{
    height: 3em;

    cursor: initial;

    color: white;
}
#searchTable .header th
{
    background-color: #2a2b2e;
}
#searchTable .header th:first-child
{
    border-radius: .3em 0 0 0;
}
#searchTable .header th:last-child
{
    border-radius: 0 .3em 0 0;
}
#searchTable tbody:after
{
    position: absolute;
    z-index: -1; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    opacity: .3;
    /* set your opacity */
    border-radius: .3em;
    background-image: url('../../../assets/epices.jpg');
    background-size: 10em;
}
#searchTable tr .name
{
    padding-left: 1em;

    text-align: left;
}
