#signPage {
    /* Chrome */
  display: flex;
    /* IE */
    /* Firefox */
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -webkit-flex-wrap: wrap;
}
