@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../scss-utils/mixins";
@import "../scss-utils/variables";
@import "../scss-utils/fonts";

#totalView {
    display: flex;
    flex-direction: column;
}


#topBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/topBannerImage.png');
    background-size: cover;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: italic;
    
    #webSiteTitle {
        color: white;
        font-size: $fontSizeTitle;
        margin: 3% 0% 3% 0%;
        padding: 1% 3% 1% 3%;
        text-align: center;
        background-color: $colorPrimary;
        border: black solid 0.07em;
        border-radius: 0.3em;
    }

    #WebSiteSpeachBanner {
        width: 100%;
        display:flex;
        padding: 1% 0 1% 0;
        flex-direction: row;
        background-color: $colorPrimary;
        align-items: center;
        justify-content: space-around;
    }


    #disconnectButton{
        font-family: inherit;
        font-size: $fontSizeNormal;
        @include button($colorRed);
    }

    #WebSiteSpeach{
        width: 50%;
        font-family: inherit;
        font-size: $fontSizeNormal;
        color: white;
        text-align: center;
    }

    #navigation {
        font-family: inherit;
        font-style: normal;
        @include dropdown($colorSecondary, $fontSizeNormal);
    }
    

}
