@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../scss-utils/mixins";
@import "../scss-utils/variables";
@import "../scss-utils/fonts";

#feedbackPanel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
}

#feedbackSpeach {
    width: 90%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    display:flex;
    padding: 2%;
    flex-direction: row;
    background-color: $colorPrimary;
    color: set-text-color($colorPrimary);
    border-radius: 0.3em;
    align-items: center;
    justify-content: space-around;
}

.selectContainer {
    display: flex;
    width: 25%;
    margin: auto;
    flex-direction: column;
    align-items: center;
    .select{
        width: 70%;
        font-size: $fontSizeNormal;
    }
    @include select(rgb(255, 255, 255), $colorPrimary);
}

#feedbacks {     
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2% 5% 0 5%;
    background-color: $colorPrimary;    
    #list-feedbacks {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 35em;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0.2em;
            background-color: transparent;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 0.3em 0.3em 0.3em 0.3em;
            height: 95%;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            outline: none;
            background-color: set-hover-color($colorSecondary);
            border-radius: 0.3em 0.3em 0.3em 0.3em;
        }
    }
    #title-feedbacks {
        font-size: $fontSizeSubtitle;
        color: white;
    }
    .feedback{
        width: 98%;
        margin: 0.5% 1% 0.5% 1%;
        .media {     
            border: solid 0.07em $colorSecondary;
            @include media($colorGreyLight);
            .button-delete {
                @include button(set-hover-color($colorRed));
            }
        }
    }

}

#newFeedback {
    width: 90%;
    margin: 1% 5% 1% 5%;
    .media {
        @include media($colorSecondary);
        .input-control{
            margin: 2% 0 2% 0;
            @include input(rgb(255, 255, 255), $colorSecondary);
        }
        textarea {
            align-self: stretch;
            @include textarea-paper-book($colorPaper, $colorSecondary, $fontSizeNormal, 1.2em);
        } 
        .sendButton {
            @include button($colorGreen);
        }
    }
}

#feedbackLoader {
    position: fixed;
    border-radius: 0.3em;
    margin: auto;
    top: 20vh; bottom: 20vh; left: 20vw; right: 20vw;
    @include loader($colorPrimary, $colorSecondary);
} 