@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../scss-utils/mixins";
@import "../scss-utils/variables";

#loginPanel {
    font-family: Tahoma, Geneva, sans-serif;
    position: relative;
    margin: 5%;
    border: 0.07em $colorSecondary solid;
    border-radius: 0.5em;
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    #loginImage {
        @include image(8em);
    }

    .subtitle {
        margin: 1% 0 1% 0;
        font-size: $fontSizeSubtitle;
    }
    
    #nickname{
        margin: 2% 0 2% 0;
        font-size: $fontSizeNormal;
        @include input(rgb(255, 255, 255), $colorSecondary);
    }
    #password {
        margin: 2% 0 2% 0;
        font-size: $fontSizeNormal;
        @include input(rgb(255, 255, 255), $colorSecondary);
    }

    #loginButton {
        font-size: $fontSizeNormal;
        @include button($colorSecondary);
    }

    #loginLoader {
        position: absolute;
        border-radius: 0.3em;
        margin: auto;
        top: 5%; bottom: 5%; left: 5%; right: 5%;
        @include loader($colorSecondary, $colorPrimary);
    }   
}   
