@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../scss-utils/mixins";
@import "../scss-utils/variables";
@import "../scss-utils/fonts";

#viewRecipePanel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Tahoma, Geneva, sans-serif;
}

#titleRow {
    margin-top: 2%;
    padding-bottom: 1%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $fontSizeNormal;
    border: 0.2em $colorPrimary double;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.3em $colorPrimary;

     .input-control {
        white-space: nowrap;
        text-align: justify;
        #nameRecipeInput {
            min-width: 8em;
            text-align: center;
            font-size: $fontSizeSubtitle;
            background-color: inherit;
            border: none;
           -webkit-appearance: none;
           -moz-appearance: none;
           -ms-appearance: none;
           -o-appearance: none;
           appearance: none;
           padding: 0.5em;
           transition: width 0.25s;
        }
     }
}

#selectorsRow {
    margin: 2% 0 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .selectContainer {
        display: flex;
        width: 25%;
        flex-direction: column;
        align-items: center;
        .select{
            width: 70%;
            font-size: $fontSizeNormal;
        }
        @include select(rgb(255, 255, 255), $colorPrimary);
        #durationInput {
            width: 25%;
            font-size: $fontSizeNormal;
            @include input(white, $colorPrimary);
        }
    }
}


#ingredientsTable {
    height: 10em;
    width: 90%;
    margin: 2% 5% 2% 5%;
    font-size: $fontSizeNormal;
    color: black;
    @include table-image($colorPrimary, url('../../../assets/epices.jpg'), 10em);
    tr {
        .ingredient {
            padding-left: 1em;
            text-align: left;
        }
    }
    .button-delete {
        display: table-cell;
        margin: auto;
        @include button(set-hover-color($colorRed));
    }
    .button-add {
        display: table-cell;
        margin: auto;
        @include button($colorValid);
    }
    #formIngredient {
        display: table-cell;
        font-size: $fontSizeSmall;
        width: 80%;
        @include input(white, $colorPrimary);
    }
    #formQuantity {
        display: table-cell;
        margin: auto;
        font-size: $fontSizeSmall;
        width: 20%;
        @include input(white, $colorPrimary);
    }
    #formUnity {
        display: table-cell;
        margin: auto;
        font-size: $fontSizeSmall;
        width: 25%;
        @include input(white, $colorPrimary);
    }
}


#explanations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 25% 2% 25%;
    .title-explanations {
        margin-bottom: 2%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        #title-recipe{
            font-size: $fontSizeSubtitle;
        }
        .input-control {
            margin-left: 1%;
            font-size: $fontSizeNormal;
            width: 3em;
            @include input(white, $colorPrimary);
        }

    }
    .textarea {
        font-family: 'kalam_regular', 'Verdana', sans-serif;
        align-self: stretch;
        @include textarea-paper-book($colorPaper, $colorSecondary, $fontSizeNormal, 1.6em);
    }
    #date-last-edit {
        margin: 1em 0 1em 0;
        font-style: italic;
    }
}

#buttonsBlock {
    margin: 2% 0 2% 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    #editButton {
        font-size: $fontSizeNormal;
        @include button($colorValid);
    }
    #supprButton {
        font-size: $fontSizeNormal;
        @include button(set-hover-color($colorRed));
    }
}

#comments {     
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2% 5% 0 5%;
    background-color: $colorPrimary;    
    #list-comments {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 35em;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0.2em;
            background-color: transparent;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 0.3em 0.3em 0.3em 0.3em;
            height: 95%;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            outline: none;
            background-color: set-hover-color($colorSecondary);
            border-radius: 0.3em 0.3em 0.3em 0.3em;
        }
    }
    #title-comment {
        font-size: $fontSizeSubtitle;
        color: white;
    }
    .comment{
        width: 98%;
        margin: 0.5% 1% 0.5% 1%;
        .media {     
            border: solid 0.07em $colorSecondary;
            @include media($colorGreyLight);
            .button-delete {
                @include button(set-hover-color($colorRed));
            }
        }
    }

}

#newComment {
    width: 90%;
    margin: 1% 5% 1% 5%;
    .media {
        @include media($colorSecondary);
        textarea {
            align-self: stretch;
            @include textarea-paper-book($colorPaper, $colorSecondary, $fontSizeNormal, 1.2em);
        } 
        .sendButton {
            @include button($colorGreen);
        }
    }
}

#recipeViewerLoader {
    position: fixed;
    border-radius: 0.3em;
    margin: auto;
    top: 20vh; bottom: 20vh; left: 20vw; right: 20vw;
    @include loader($colorPrimary, $colorSecondary);
} 