@import "../../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../scss-utils/mixins";
@import "../scss-utils/variables";

#searchPanel {
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filtersPanel{
    position: relative;
    background-color: white;
    width: 90%;
    margin: 2% 5% 2% 5%;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    #filtersTitle {
        font-size: $fontSizeSubtitle;
    }
    &:hover {
        background-color: darken(white, 8);
    }
}

#selectorsRow {
    width: 100%;
    margin: 3% 0 3% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .selectContainer {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .select{
            width: 70%;
            font-size: $fontSizeSmall;
        }
        @include select(rgb(255, 255, 255), $colorPrimary);
    }
    #selectDurations {  
        /* Chrome */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;

        /* IE */
        display: -ms-flexbox;
        -ms-flex-direction: row;
        -ms-flex-pack: distribute;
        -ms-flex-wrap: nowrap;

        /* Firefox */
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -webkit-justify-content: space-around;
        -webkit-flex-wrap: nowrap;
        #duration-min {
            width: 20%;
            font-size: $fontSizeSmall;
            @include input(white, $colorPrimary);
        }
        #duration-max {
            width: 20%;
            font-size: $fontSizeSmall;
            @include input(white, $colorPrimary);
        }
    }
}

#searchTagPanel {
    width: 100%;
    margin: 3% 0 3% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .searchColumn {
        display: flex;
        width: 25%;
        flex-direction: column;
        align-items: center;

        .input-control {
            font-size: $fontSizeSmall;
            @include input(white, $colorPrimary);
        }

        .tags {
            width: 100%;
            font-size: $fontSizeSmall;
            @include tags($colorSecondary);
            .tag:hover {
                .icon-right {
                    cursor: pointer;
                color: set-hover-color($colorRed);
                }
            }
        }
    }
}

#searchLoader {
    position: absolute;
    border-radius: 0.3em;
    margin: auto;
    top: 2em; bottom: 1.5em; left: 2em; right: 2em;
    @include loader(set-hover-color($colorPrimary), $colorPrimary);
}   


#searchButton {
    font-size: $fontSizeNormal;
    @include button($colorPrimary);
    .icon-left { color: $colorSecondary; }
}

#searchTable {
    height: 10em;
    width: 90%;
    margin: 2% 5% 2% 5%;
    font-size: $fontSizeNormal;
    color: black;
    @include table-image($colorPrimary, url('../../../assets/epices.jpg'), 10em);
    tr {
        .name {
        padding-left: 1em;
        text-align: left;
        }
    }
}