
#signPage {
    /* Chrome */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    /* IE */
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-pack: distribute;
    -ms-flex-wrap: wrap;

    /* Firefox */
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: wrap;
}
